body {
    background-color: grey;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

h3 {
    margin: 12px;
}

h3 a {
    color: inherit;
}

span {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 8px;
}

.globalBlock {
    column-count:auto;
    width: 90%;
    column-width: 250px;
    margin: 0 auto;
}

.blockStyle {
    width: 250px;
    display: inline-block;
    width: 100%;
    border: lightgrey 2px solid;
    background-color: darkgrey;
    margin: 8px;
    text-align: center;
    height: 100%;
}
.flexStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flowerBlock {
    border: white 2px solid;
    background-color: black;
    padding: 12px;
    color: white;
}

.footer {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.foot {
    color: white;
    padding: 16px;
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkred;
}

.notif {
    background: black;
    color: white;
    position: sticky;
    width: 100%;
    text-align: center;
    font-size: 2em;
    padding: 12px;
    bottom: 0;
}